<section class="components">
  <div class="container">
    <div class="components-title-text">
      <h2 class="components-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span>TASTE</span> SENSATION
      </h2>
      <p class="components-general-text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <div class="components-card">
      <ul class="components-list list-dec">
        <li class="components-item">
          <div class="components-flip-card">
            <div class="components-card-inner">
              <div class="components-card-front">
                <img
                  class="components-img"
                  src="/img/components/chocolate1.png"
                  srcset="
                    /img/components/chocolate1.png 1x,
                    /img/components/chocolate2.png 2x
                  "
                  alt="chocolate"
                />
                <p class="components-text">milk chocolate</p>
              </div>
              <!-- <div class="components-card-back">
                <h3 class="components-title-back">Milk chocolate</h3>
                <button class="components-active-button" type="button">
                  chocolate
                </button>
                <button class="components-button" type="button">
                  the benefits
                </button>
                <p class="components-back-text">
                  Milk chocolate is a solid chocolate confectionery containing
                  cocoa, sugar and milk. It is the most consumed type of
                  chocolate. Chocolate was originally sold and consumed as a
                  beverage in pre-Columbian times. Although four-fifths of all
                  milk chocolate is sold in the United States and Europe,
                  increasingly large amounts are consumed in China and Latin
                  America.
                </p>
              </div> -->
            </div>
          </div>
        </li>
        <li class="components-item">
          <div class="components-flip-card">
            <div class="components-card-inner">
              <div class="components-card-front">
                <img
                  class="components-img"
                  src="/img/components/milk1.png"
                  srcset="
                    /img/components/milk1.png 1x,
                    /img/components/milk2.png 2x
                  "
                  alt="bottle with milk"
                />
                <p class="components-text">milk</p>
              </div>
              <!-- <div class="components-card-back">
                <h3 class="components-title-back">Milk</h3>
                <button class="components-active-button" type="button">
                  milk
                </button>
                <button class="components-button" type="button">
                  the benefits
                </button>
                <p class="components-back-text">
                  Milk is a white liquid food produced by the mammary glands of
                  mammals. It is the primary source of nutrition for young
                  mammals (including breastfed human infants) before they are
                  able to digest solid food.Early-lactation milk, which is
                  called colostrum, contains antibodies that strengthen the
                  immune system, and thus reduces the risk of many diseases.
                  Milk contains many nutrients, including protein and lactose.
                </p>
              </div> -->
            </div>
          </div>
        </li>
        <li class="components-item">
          <div class="components-flip-card">
            <div class="components-card-inner">
              <div class="components-card-front">
                <img
                  class="components-img"
                  src="/img/components/nut1.png"
                  srcset="
                    /img/components/nut1.png 1x,
                    /img/components/nut2.png 2x
                  "
                  alt="four nuts"
                />
                <p class="components-text">nuts</p>
              </div>
              <!-- <div class="components-card-back">
                <h3 class="components-title-back">Nuts</h3>
                <button class="components-active-button" type="button">
                  nuts
                </button>
                <button class="components-button" type="button">
                  the benefits
                </button>
                <p class="components-back-text">
                  Almonds, pistachios, and walnuts are some types of nuts that
                  contain healthy nutrients. When eaten as part of a
                  nutrient-dense diet, these 9 nuts may offer benefits such as
                  reducing your risk of heart disease. They’re a good source of
                  fiber, healthy fats, and plant protein. Plus, they’re great on
                  their own, paired with fruit, or added to dishes like salads,
                  desserts, and grains.
                </p>
              </div> -->
            </div>
          </div>
        </li>
        <li class="components-item">
          <div class="components-flip-card">
            <div class="components-card-inner">
              <div class="components-card-front">
                <img
                  class="components-img"
                  src="/img/components/beans1.png"
                  srcset="
                    /img/components/beans1.png 1x,
                    /img/components/beans2.png 2x
                  "
                  alt="coffee beans"
                />
                <p class="components-text">semi-sweet chocolate</p>
              </div>
              <!-- <div class="components-card-back">
                <h3 class="components-title-back">sweet chocolate</h3>
                <button class="components-active-button" type="button">
                  sweet chocolate
                </button>
                <button class="components-button" type="button">
                  the benefits
                </button>
                <p class="components-back-text">
                  Semi-sweet chocolate has a cocoa solid content of 35 to 65%.
                  One of the best ways to gain an understanding of this type of
                  chocolate is to compare it to a different type of chocolate.
                  Semisweet is darker than milk chocolate. In a taste
                  comparison, it has a slightly bitter taste whereas milk
                  chocolate is sweeter and more mellow. This delectable flavor
                  of chocolate is very versatile.
                </p>
              </div> -->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
