<!-- Olena Rudnieva -->

<header class="header">
  <div class="container">
    <nav class="header-nav">
          <a class="header-logo-link link" href="./index.html"> <span header-logo-style>SIMPLY </span>CHOCOLATE
          </a>

          <ul class="header-menu list">
            <li class="header-menu-item">
              <a class="header-menu-link link current" href="./index.html">Home</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link link" href="">How it’s made?</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link link" href>Our products</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link link current" href="">Top sellers</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link link" href>Chocolate is loved</a>
            </li>
          </ul>
        </nav>
    
  </div>
</header>
