<!-- Olena Rudnieva -->

<header class="header">
        <div class="container header-container">
            <nav class="header-nav">
                <a class="header-logo-link" href="#index"> <span class="header-logo-style">SIMPLY </span>CHOCOLATE
                    <svg class="header-logo-chocolate-icon">
                        <use href="/img/symbol.svg#icon-chocolate-bar"></use>
                    </svg>
                </a>

                <ul class="header-menu">
                    <li class="header-menu-item">
                        <a class="header-menu-link" href="#index">Home</a>
                    </li>
                    <li class="header-menu-item">
                        <a class="header-menu-link" href="#how-made">How it’s made?</a>
                    </li>
                    <li class="header-menu-item">
                        <a class="header-menu-link" href="#products">Our products</a>
                    </li>
                    <li class="header-menu-item">
                        <a class="header-menu-link" href="#sellers">Top sellers</a>
                    </li>
                    <li class="header-menu-item">
                        <a class="header-menu-link" href="#reviews">Chocolate is loved</a>
                    </li>
                </ul>
            </nav>  

            <button class="header-mobile-menu-open js-open-menu" type="button">
                <svg class="header-mobile-menu-open-icon">
                    <use href="/img/symbol.svg#icon-menu-mobile"></use>
                </svg>
            </button>

            <ul class="header-soc-list">
                <li class="header-soc-list-item">
                    <a class="header-soc-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer nofollow">
                        <svg class="header-soc-link-icon">
                            <use href="/img/symbol.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-soc-list-item">
                    <a class="header-soc-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer nofollow">
                        <svg class="header-soc-link-icon">
                            <use href="/img/symbol.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <div class="header-mobile-menu js-menu-container">
                <div class="container header-mobile-menu-container">
                    <button class="header-mobile-menu-close js-close-menu" type="button">
                        <svg class="header-mobile-menu-close-icon">
                            <use href="/img/symbol.svg#icon-close"></use>
                        </svg>
                    </button> 

                    <nav class="header-mobile-nav">
                        <ul class="header-mobile-menu-list">
                            <li class="header-mobile-menu-item">
                                <a class="header-mobile-menu-link" href="#index">Home</a>
                            </li>
                            <li class="header-mobile-menu-item">
                                <a class="header-mobile-menu-link" href="#how-made">How it’s made?</a>
                            </li>
                            <li class="header-mobile-menu-item">
                                <a class="header-mobile-menu-link" href="#products">Our products</a>
                            </li>
                            <li class="header-mobile-menu-item">
                                <a class="header-mobile-menu-link" href="#sellers">Top sellers</a>
                            </li>
                            <li class="header-mobile-menu-item">
                                <a class="header-mobile-menu-link" href="#reviews">Chocolate is loved</a>
                            </li>                
                        </ul>  
                    </nav>

                    <ul class="header-mobile-soc-list">
                        <li class="header-soc-list-item">
                            <a class="header-soc-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer nofollow">
                                <svg class="header-soc-link-icon">
                                    <use href="/img/symbol.svg#icon-header-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="header-soc-list-item">
                            <a class="header-soc-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer nofollow">
                                <svg class="header-soc-link-icon">
                                    <use href="/img/symbol.svg#icon-header-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>          
         </div>
    </header>
