<!-- Opanasiuk Olexandr -->
<section class="hero-section" id="hero">
  <div class="container">
    <h1 class="visually-hidden">Section hero</h1>
    <h2 class="hero-header">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-global-btn">
      <div class="hero-btn-block">
        <button
          type="button"
          class="hero-btn js-open-modal"
          data-modal="modal-buy"
        >
          Buy now
        </button>
        <a href="#how-made" class="hero-btn hero-btn-link">How it’s made</a>
      </div>
      <a href="#footer" class="hero-scroll"
        >scroll down
        <span class="hero-icon">
          <svg class="hero-svg" width="16" height="16">
            <use href="/img/symbol.svg#icon-accept" />
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
