<section class="how-made">
    <div class="container">
        <h2 class="how-made-title" id="how-made">HOW IT&rsquo;S <span class="how-made-span">MADE&quest;</span></h2>
        <div class="how-made-flex">
            <div class="how-made-video">
                <div class="how-made-svg">
                    <svg class="how-made-play" width="14" height="15">
                        <use href="../img/symbol.svg#icon-play-video"></use>
                    </svg>
                </div>
            </div>
            <div class="how-made-card">
                <h3 class="how-made-caption">Try our chocolates today and discover the perfect balance of flavor</h3>
                <ul class="how-made-list">
                    <li class="how-made-list-title">
                        Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
                    </li>
                    <li class="how-made-list-title">
                        At the same time, prepare a water bath. Melt the butter on it.
                    </li>
                    <li class="how-made-list-title">
                        "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that
                        the mass becomes
                        uniform and silky.
                    </li>
                    <li class="how-made-list-title">
                        Heat the mixture over low heat, letting it barely boil.
                    </li>
                    <li class="how-made-list-title">
                        Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and
                        harden.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>