<!-- Кнопка в subscribe -->
<div class="explore-modal modal" data-modal="modal-explore">
  <!--   Svg иконка для закрытия окна  -->
  <button type="button" class="modal__cross js-modal-close">
    <svg width="12" height="12">
      <use href="/img/symbol.svg#icon-close"></use>
    </svg>
  </button>
  <div class="explore-thumb"><img src="" alt="" /></div>
  <h2 class="explore-title">Explore our new chocolate first!</h2>
  <form class="explore-form">
    <input
      type="email"
      name="user-email"
      placeholder="Enter your email"
      autofocus
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      title="Expected email: ***@gmail.com"
    />
    <button type="submit">Submit</button>
  </form>
</div>
