<section class="products">
    <div class="products_title-wrap">
        <h2 class="products_title">Our</h2>
        <span class="products_acent title-accent-color">products</span>
    </div>
    <ul class="products_list">
        <li class="products_item">
            <img class="products_img" src="" alt="chocolate" >
            <h3 class="products_item-title"></h3>
            <p class="products_sudscribe"></p>
            <div class="products_price_wrap">
                <p class="products-price"></p>
                <span class="products_currency"></span>
            </div>
        </li>
    </ul>
</section> 