<section class="products">
  <div class="container">
    <div class="products_title-wrap">
      <h2 class="title products_title">Our</h2>
      <span class="products_acent title-accent-color">products</span>
    </div>
    <ul class="products_list">
      <li class="products_item">
        <img
          class="products_img"
          src="./img/products/choco_1.jpg"
          srcset="
            ./img/products/choco_1.2x.jpg 1x,
            ./img/products/choco_1.2x.jpg 2x
          "
          alt="chocolate"
        />
        <h3 class="products_item-title">orange</h3>
        <p class="products_sudscribe">Dark chocolate</p>
        <div class="products_price_wrap">
          <p class="products-price">45</p>
          <span class="products_currency">uah</span>
        </div>
      </li>
      <li class="products_item">
        <img
          class="products_img"
          src="./img/products/choco_2.jpg"
          srcset="
            ./img/products/choco_2.2x.jpg 1x,
            ./img/products/choco_2.2x.jpg 2x
          "
          alt="chocolate"
        />
        <h3 class="products_item-title">apple&cranberry</h3>
        <p class="products_sudscribe">Milk chocolate</p>
        <div class="products_price_wrap">
          <p class="products-price">50</p>
          <span class="products_currency">uah</span>
        </div>
      </li>
      <li class="products_item">
        <img
          class="products_img"
          src="./img/products/choco_3.jpg"
          srcset="
            ./img/products/choco_3.2x.jpg 1x,
            ./img/products/choco_3.2x.jpg 2x
          "
          alt="chocolate"
        />
        <h3 class="products_item-title">lime&sea salt</h3>
        <p class="products_sudscribe">Dark chocolate</p>
        <div class="products_price_wrap">
          <p class="products-price">66</p>
          <span class="products_currency">uah</span>
        </div>
      </li>
      <li class="products_item">
        <img
          class="products_img"
          src="./img/products/choco_4.jpg"
          srcset="
            ./img/products/choco_4.2x.jpg 1x,
            ./img/products/choco_4.2x.jpg 2x
          "
          alt="chocolate"
        />
        <h3 class="products_item-title">pineapple</h3>
        <p class="products_sudscribe">Dark chocolate</p>
        <div class="products_price_wrap">
          <p class="products-price">54</p>
          <span class="products_currency">uah</span>
        </div>
      </li>
      <li class="products_item">
        <img
          class="products_img"
          src="./img/products/choco_5.jpg"
          srcset="
            ./img/products/choco_5.2x.jpg 1x,
            ./img/products/choco_5.2x.jpg 2x
          "
          alt="chocolate"
        />
        <h3 class="products_item-title">classic</h3>
        <p class="products_sudscribe">Milk chocolate</p>
        <div class="products_price_wrap">
          <p class="products-price">45</p>
          <span class="products_currency">uah</span>
        </div>
      </li>
      <li class="products_item">
        <img
          class="products_img"
          src="./img/products/choco_6.jpg"
          srcset="
            ./img/products/choco_6.2x.jpg 1x,
            ./img/products/choco_6.2x.jpg 2x
          "
          alt="chocolate"
        />
        <h3 class="products_item-title">honey</h3>
        <p class="products_sudscribe">Milk chocolate</p>
        <div class="products_price_wrap">
          <p class="products-price">50</p>
          <span class="products_currency">uah</span>
        </div>
      </li>
      <li class="products_item">
        <img
          class="products_img"
          src="./img/products/choco_7.jpg"
          srcset="
            ./img/products/choco_7.2x.jpg 1x,
            ./img/products/choco_7.2x.jpg 2x
          "
          alt="chocolate"
        />
        <h3 class="products_item-title">roasted fruits</h3>
        <p class="products_sudscribe">Dark chocolate</p>
        <div class="products_price_wrap">
          <p class="products-price">66</p>
          <span class="products_currency">uah</span>
        </div>
      </li>
      <li class="products_item">
        <img
          class="products_img"
          src="./img/products/choco_8.jpg"
          srcset="
            ./img/products/choco_8.2x.jpg 1x,
            ./img/products/choco_8.2x.jpg 2x
          "
          alt="chocolate"
        />
        <h3 class="products_item-title">classic</h3>
        <p class="products_sudscribe">white chocolate</p>
        <div class="products_price_wrap">
          <p class="products-price">54</p>
          <span class="products_currency">uah</span>
        </div>
      </li>
    </ul>
  </div>
</section>
