<section class="our_section">
  <div class="container">
    <a class="our_section__visually-hidden" href="./index.html"
      >Chocolate<span class="logo__dark"> is loved</span></a
    >

    <ul class="list">
      <li class="our_section__items">
        <div class="our_section__svg">
          <img class="ava" src="./img/reviews/victory_ava.png" alt="ava" />
          <h3 class="our_section__title-section">Victoria Dobrzhanska</h3>
        </div>

        <p class="our_section__paragraf">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
    </ul>
    <div class="pagination">
      <span class="pag__active"></span>
      <span class="pag__pass"></span>
      <span class="pag__pass"></span>
      <span class="pag__pass"></span>
    </div>
    <button type="button" class="js-open-modal" data-modal="modal-review">
      Leave a review
    </button>
  </div>
</section>
