<section class="reviews" id="reviews">
    <div class="container reviews-container">
        <h2 class="reviews-title"> <span class="reviews-title-accent">chocolate </span> is loved</h2>
        <div class="slider-wrap">
            <div class="slider-inner">
                <div class="reviews-wrap">
                    <img class="reviewer-photo" src="/img/reviews/review1.png" alt="Photo of the reviewer" srcset="/img/reviews/review1.png 1x, /img/reviews/review1@2x.png 2x" width="80" height="80">            
                    <h3 class="reviewer-name">Victoria Dobrzhanska</h3>
                    <p class="review-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                </div>
            </div>
            
            <div class="slider-inner">
                <div class="reviews-wrap">
                    <img class="reviewer-photo" src="./images/reviews/review2.p" alt="Photo of the reviewer" srcset="./images/reviews/review2.png 1x, ./images/reviews/review2@2x.png 2x" width="80" height="80">            
                    <h3 class="reviewer-name">Nazar Babenko</h3>
                    <p class="review-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
                </div>
            </div>
            
            <div class="slider-inner">
                <div class="reviews-wrap">
                    <img class="reviewer-photo" src="./images/reviews/review3.png" alt="Photo of the reviewer" srcset="./images/reviews/review3.png 1x, ./images/reviews/review3@2x.png 2x" width="80" height="80">            
                    <h3 class="reviewer-name">Olena Kampusch</h3>
                    <p class="review-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
                </div>
            </div>

            <div class="slider-inner">
                <div class="reviews-wrap">
                    <img class="reviewer-photo" src="./images/reviews/review4.png" alt="Photo of the reviewer" srcset="./images/reviews/review4.png 1x, ./images/reviews/review4@2x.png 2x" width="80" height="80">            
                    <h3 class="reviewer-name">Natalia Sus</h3>
                    <p class="review-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level.</p>
                </div>
            </div>

        </div>
        <button class="modal-btn review-btn js-open-modal" type="button" data-modal="modal-review">
            Leave a review
        </button>
    </div>
</section>