<!-- reviews_section -->

<section class="reviews_section" id="reviews">
  <div class="container">
    <a class="reviews__title" href="./index.html"
      >Chocolate<span class="logo__dark"> is loved</span></a
    >

    <ul class="reviews__list">
      <li class="reviews__items">
        <div class="reviews__svg">
          <img
            class="reviews__ava"
            src="./img/reviews/victory_ava.png"
            alt="ava"
          />
          <h3 class="reviews__title-section">Victoria Dobrzhanska</h3>
        </div>
        <p class="reviews__paragraf">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>

      <li class="reviews__items">
        <div class="reviews__svg">
          <img
            class="reviews__ava"
            src="./img/reviews/nazar_ava.png"
            alt="ava"
          />
          <h3 class="reviews__title-section">Nazar Babenko</h3>
        </div>

        <p class="reviews__paragraf">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews__items">
        <div class="reviews__svg">
          <img
            class="reviews__ava"
            src="./img/reviews/olena_ava.png"
            alt="ava"
          />
          <h3 class="reviews__title-section">Olena Campusch</h3>
        </div>

        <p class="reviews__paragraf">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
      <li class="reviews__items">
        <div class="reviews__svg">
          <img
            class="reviews__ava"
            src="./img/reviews/nata_ava.png"
            alt="ava"
          />
          <h3 class="reviews__title-section">Natalia Sus</h3>
        </div>

        <p class="reviews__paragraf">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </li>
      <li class="reviews__items">
        <div class="reviews__svg">
          <img
            class="reviews__ava"
            src="./img/reviews/danya_ava.png"
            alt="ava"
          />
          <h3 class="reviews__title-section">Danilo Nottingham</h3>
        </div>

        <p class="reviews__paragraf">
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </li>
      <li class="reviews__items">
        <div class="reviews__svg">
          <img class="reviews__ava" src="./img/reviews/ira_ava.png" alt="ava" />
          <h3 class="reviews__title-section">Irina Tydnyuk</h3>
        </div>

        <p class="reviews__paragraf">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </li>
    </ul>
    <div class="reviews__pagination">
      <span class="reviews__pag-active"></span>
      <span class="reviews__pag-pass"></span>
      <span class="reviews__pag-pass"></span>
      <span class="reviews__pag-pass"></span>
    </div>
    <button
      class="review__button js-open-modal"
      name="кнопка"
      data-modal="modal-review"
    >
      Leave a review
    </button>
  </div>
</section>
