<section class="sellers">
  <div class="container">
    <h3 class="sellers-tittle">
      <span class="sellers-tittle-text">TOP</span>SELLERS
    </h3>
    <div class="sellers-product">
      <ul class="sellers-product-list">
        <li class="sellers-product-item">
          <div class="sel-img">
            <img
              src="../img/sellers/desktop-sellers1.jpg"
              class="rad-img"
              alt="product"
            />
          </div>
        </li>
        <li class="sellers-product-item">
          <img
            src="../img/sellers/desktop-sellers2.jpg"
            class="rad-img"
            alt="product"
          />
        </li>
        <li class="sellers-product-item sellers-mobile">
          <img
            src="../img/sellers/desktop-sellers3.jpg"
            class="rad-img"
            alt="product"
          />
        </li>
      </ul>
    </div>
    <div class="sellers-info">
      <p class="sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="sellers-btn" data-modal-open>Buy now</button>
    </div>
  </div>
</section>
