<section class="sellers">
  <div class="container">
    <h2 class="sellers-tittle">
      <span class="sellers-tittle-text">TOP</span>SELLERS
    </h2>
    <div class="sellers-mobile-list">
      <div class="sellers-product">
        <ul class="sellers-product-list">
          <li class="sellers-product-item">
            <img
              class="sellers-img"
              src="/img/sellers/desktop-sellers1.jpg"
              srcset="
                /img/sellers/desktop-sellers1.jpg    1x,
                /img/sellers/desktop-sellers1-2x.jpg 2x,
                /img/sellers/desktop-sellers1-3x.jpg 3x
              "
              alt="product"
            />
          </li>
          <li class="sellers-text-mobile">
            <p>
              Crazy enough chocolate originates from a bean just like the coffee
              bean called Cacao. Cacao has been around for thousands of years
              and was first discovered by the Native American tribe called the
              Mayans.
            </p>
          </li>

          <li class="sellers-product-item">
            <img
              class="sellers-img"
              src="/img/sellers/desktop-sellers2.jpg"
              srcset="
                /img/sellers/desktop-sellers2.jpg    1x,
                /img/sellers/desktop-sellers2-2x.jpg 2x,
                /img/sellers/desktop-sellers2-3x.jpg 3x
              "
              alt="product"
            />
          </li>

          <li class="sellers-product-item sellers-mobile">
            <img
              class="sellers-img"
              src="/img/sellers/desktop-sellers3.jpg"
              srcset="
                /img/sellers/desktop-sellers3.jpg    1x,
                /img/sellers/desktop-sellers3-2x.jpg 2x,
                /img/sellers/desktop-sellers3-3x.jpg 3x
              "
              alt="product"
            />
          </li>
        </ul>
      </div>
      <div class="sellers-info">
        <p class="sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button type="button" class="sellers-btn" data-modal-open>
          Buy now
        </button>
      </div>
    </div>
  </div>
</section>
