<section class="sellers">
  <div class="container">
    <h2 class="sellers-tittle">
      <span class="sellers-tittle-text">TOP</span>SELLERS
    </h2>
    <div class="sellers-product">
      <ul class="sellers-product-list">
        <li class="sellers-product-item">
          <span class="sell-img"> </span>
        </li>
        <li class="sellers-product-item">
          <img src="../img/sellers/desktop-sellers2.jpg" alt="product" />
        </li>
        <li class="sellers-product-item sellers-mobile">
          <img src="../img/sellers/desktop-sellers3.jpg" alt="product" />
        </li>
      </ul>
    </div>
  </div>
</section>
