.components > .container {
  padding-bottom: 72px;
  padding-top: 72px;
  padding-left: 20px;
  padding-right: 20px;
}
.components-title-text {
  margin-bottom: 32px;
}
.components-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  max-width: 283px;
  margin: auto;
  margin-bottom: 24px;
}
.components-title > span {
  color: var(--accent-color);
}

.components-general-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--text-color);
}
.components-card {
}
.components-list {
}
.list-dec {
}
.components-item {
}
.components-flip-card {
}
.components-card-inner {
}
.components-card-front {
}
.components-img {
  color: #cfac60;
  margin: auto;
  width: 224px;
  height: 171px;
}
.components-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-top: 25px;
}
.components-card-back {
}
.components-title-back {
}
.components-active-button {
}
.components-button {
}
.components-back-text {
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
