.components > .container {
  padding-bottom: 72px;
  padding-top: 72px;
  padding-left: 20px;
  padding-right: 20px;
}
.components-title-text {
  margin-bottom: 32px;
}
.components-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  max-width: 283px;
  margin: auto;
  margin-bottom: 24px;
}
.components-title > span {
  color: var(--accent-color);
}
.components-general-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--text-color);
}
.components-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.list-dec {
  list-style: none;
}
.components-img {
  color: #cfac60;
  margin: auto;
  width: 224px;
  height: 171px;
}
.components-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-top: 25px;
}
.components-flip-card {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.components-card-inner {
  width: 280px;
  height: 270px;
  position: relative;
  perspective: 1000px;
  border-radius: 35px;
}
.components-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 250ms;
  backface-visibility: hidden;
  border-radius: 35px;
  padding: 28px;
}
.components-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  transition: 250ms;
  backface-visibility: hidden;
  border-radius: 35px;
  padding: 28px;
}
.components-card-inner:hover .components-card-front {
  transform: rotateY(180deg);
}
.components-card-inner:hover .components-card-back {
  background: #e2e2e2;
  transform: rotateY(360deg);
}
.components-item:nth-child(-2n + 4) .components-card-front {
  background: var(--main-bg-color);
  border: 1px solid var(--accent-color);
}
.components-item:nth-child(-2n + 4):hover .components-card-front {
  border: none;
}
.components-item:first-child .components-card-front {
  background-color: var(--accent-color);
}
.components-item:nth-child(3) .components-card-front {
  background-color: var(--secondary-bg-color);
}
.components-item:nth-child(-2n + 4) .components-text {
  color: var(--text-color);
}
.components-title-back {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 8px;
}
.components-active-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  /* display: flex; */
  height: 24px;
  align-items: center;
  color: var(--secondary-text-color);
  background: var(--accent-color);
  border-radius: 35px;
  border: none;
  margin-right: 6px;
}
.components-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  /* display: flex; */
  height: 24px;
  align-items: center;
  color: var(--text-color);
  background: var(--soft-color);
  border: 1px solid var(--accent-color);
  border-radius: 35px;
}
.components-back-text {
  max-height: 146px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--text-color);
  margin-top: 14px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 375px) {
  .components-card-inner {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .components > .container {
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .components-title-text {
    margin-bottom: 50px;
  }
  .components-title {
    font-size: 24px;
    line-height: 1.17;
    max-width: 411px;
    margin-bottom: 28px;
  }
  .components-general-text {
    font-size: 14px;
    line-height: 1.29;
    margin: auto;
    max-width: 486px;
  }
  .components-list {
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .components > .container {
    padding-bottom: 128px;
    padding-top: 128px;
  }
  .components-list {
    gap: 18px;
  }
  .components-card-inner {
    width: 270px;
  }
  .components-img {
    width: 206px;
    height: 160px;
  }
  .components-text {
    margin-top: 36px;
  }
}
