.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    
    background-color: var(--secondary-bg-color);
 } 

 
.footer-logan-text {
   
    max-width: 300px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 32px;

    color: var(--secondary-text-color);
}
.footer-text-accent {
    color: var(--accent-color);
}

.footer-thumb {
    display: flex;
    flex-direction: column;
    
}
    
.flex-div {
    position: relative;
    margin-bottom: 32px;
}
  
.social-links {
    display: flex;
    position: absolute;
    align-self: self-end;
    /* transform: translateY(-33%); */
    margin-top: 83px;
    gap: 17px;
}
    
.footer-address-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 14px;

    color: var(--secondary-text-color);
}
.address-tel-link {
    margin-bottom: 4px;
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--secondary-text-color);
}

.address-mail-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
   
    color: var(--secondary-text-color);

}
.footer-soc-link {
    color: var(--secondary-text-color);

}

.footer-soc-icon {
    width: 22px;
    height: 22px;
    stroke: currentColor;
}

.icon-twitter {
     border: 1.5px solid #FFFFFF;
}
.footer-menu-item:not(:last-child) {
    margin-bottom: 18px;
    
}

.footer-menu-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;

    color: var(--secondary-text-color);
}

 
.page-links {
    padding-top: 32px;
}

.menu-item::before {
    content: "";
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
}
 @media screen and (min-width: 768px) {
.footer-thumb {
        
    flex-direction: row;
    
        }
               
 .social-links {
     display: flex;
     position: static;
     margin-top: 0px;
     gap: 17px;
     align-self: flex-start;
 }
 
 .page-links {
     display: flex;
 }

 .footer-menu-item:not(:last-child) {

     margin-right: 24px;
 }

 .page-links {
     padding-top: 24px;
 }

 .footer-menu-item:not(:last-child) {
     margin-bottom: 0px;
 }

 .social-links {
    
    margin-left: 52px;
     gap: 19px;
 }

 .icon-twitter {
     border: 2px solid #FFFFFF;
 }

 .footer-soc-icon {
     width: 24px;
     height: 24px;
 }

 .footer-logan-text {
     font-size: 28px;
     line-height: 1.21;
     margin-right: 124px;
 }
   
   
    

 }
 
@media screen and (min-width: 1200px) {
    .footer-logan-text {
        margin-right: 543px;
}
.social-links {

   margin-left: 65px;
    gap: 21px;
}

}
 
 


   
  


     

        
    