/* bg-background */
:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #1e1823;
  --secondary-text-color: #ffffff;
  --soft-color: #fafafa;
  --text-color: #111111;
  --accent-color: #fd9222;
  --focus-color: #fcf1e0;
  --close-color: #f16529;
  --text-animation: cubic-bezier(0.23, 0.86, 0.79, 0.77);
  --hover-animation: color 300ms cubic-bezier(0.97, -0.05, 0.9, 0.83),
    background-color 300ms cubic-bezier(0.97, -0.05, 0.9, 0.83);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--soft-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  outline: 2px solid #0801d2;
}

.rad-img {
  border-radius: 15px;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* -----------Modal Styles-------------- */

/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
  z-index: 20;
  transition: visibility 250ms var(--bezier-time),
    opacity 250ms var(--bezier-time);
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}
/* ----------------------------------- */
