:root {
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.global-info {
  padding: 30px;
  margin: 30px;
  font-size: 25;
  color: white;
  background-color: rgb(0, 0, 0);
}

.container {
  margin: 0 auto;
  outline: 2px solid #0801d2;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
