/* bg-background */
:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #1e1823;
  --secondary-text-color: #ffffff;
  --soft-color: #FAFAFA;
  --text-color: #111111;
  --accent-color: #fd9222;
  --focus-color: #fcf1e0;
  --text-animation: cubic-bezier(0.23, 0.86, 0.79, 0.77);
  --hover-animation: color 300ms cubic-bezier(0.97, -0.05, 0.9, 0.83),
    background-color 300ms cubic-bezier(0.97, -0.05, 0.9, 0.83);
}

body {
  font-family: 'Montserrat', sans-serif;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  outline: 2px solid #0801d2;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
