.hero-section {
    
    padding-bottom: 72px;
}
.hero-section > .container{
    width: 100%;
    padding: 395px 20px 20px 20px;
    
    background-color: rgb(85, 85, 85);
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%), 
        url(/img/hero/mob-chocolate-covered-cocoa-powder-1x.jpg);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section > .conteiner {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%,
                rgba(17, 17, 17, 0.4) 100%),
            url(/img/hero/mob-chocolate-covered-cocoa-powder-2x.jpg);
    }
}
.hero-header {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        color:var(--secondary-text-color);
        margin-bottom: 32px;
        max-width: 299px;
}
.hero-btn {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.21;
    color:var(--secondary-text-color);
    padding: 12px 28px;
    border: none;
    background-color: var(--accent-color);
    border-radius: 100px; 
    cursor: pointer;
    transition:var(--hover-animation) ;
}
.hero-btn:is(:hover, :focus){
    background-color: var(--focus-color);
    color:var(--accent-color)
}
.hero-btn-link {
    background-color: transparent;
    border: 1px solid var(--main-bg-color);
    cursor: pointer;
    transition: var(--hover-animation),
     border-color 300ms cubic-bezier(0.97, -0.05, 0.9, 0.83);
}
.hero-btn-link:is(:hover, :focus){
   
    border-color: var(--accent-color);
}
.hero-btn-block {
    display: flex;
    margin-bottom: 32px;
    justify-content: start;
    gap: 14px;

}
.hero-scroll{
    display: flex;
    align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: calc(14 / 12);  
        letter-spacing: -0.03em;
        color:var(--secondary-text-color);
        cursor: pointer;
        transition: var(--hover-animation);
        }
 .hero-scroll:is(:hover, :focus){
color: var(--accent-color);
 }
        
        .hero-icon{
            display: inline-flex;
            justify-content: center;
            align-items: center;
             width: 24px;
            height: 24px;
            background-color:var(--main-bg-color);
            border-radius: 50%;
            margin-left: 15px;
            color: var(--accent-color);
            transition: var(--hover-animation);
        }
        .hero-scroll:is(:hover, :focus) .hero-icon{
            background-color: var(--accent-color);
            color: var(--main-bg-color);
                }
   
        .hero-svg{
          fill:currentColor;
        }

@media screen and (min-width: 375px) {
.hero-section > .container {
       max-width: 338px;
   }
.hero-header {
        font-size: 20px;
    }
        .hero-btn {
       
            font-size: 14px;
            line-height: calc(17 / 14);
        }

}
@media screen and (min-width: 768px) {
.hero-section {
       
        padding-bottom: 50px;
    }

    .hero-section > .container {
       max-width: 704px;
       padding: 671px 40px 40px 40px;
       background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%,
                rgba(17, 17, 17, 0.4) 100%),
            url(/img/hero/tab-chocolate-covered-cocoa-powder-1x.jpg);
        }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section>.conteiner {
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%,
                    rgba(17, 17, 17, 0.4) 100%),
                url(/img/hero/tab-chocolate-covered-cocoa-powder-2x.jpg);
        }
    }

    .hero-header {
        font-size: 28px;
        line-height:calc(34 / 28);
        max-width: 484px;
             }
      
        .hero-scroll {
            font-size: 14px;
            line-height: calc(18 / 14);
            }
    
        .hero-icon {
            width: 38px;
            height: 38px;
            }
         .hero-btn-block {
            margin: 0;
         }   
         .hero-global-btn {
            display: flex;
            justify-content: space-between;
         } 
          .hero-svg {
           width: 22px;
           height: 22px;
                         }
            }
@media screen and (min-width: 1200px) {
.hero-section {
        
        padding-bottom: 72px;
    }
        .hero-section>.container {
            max-width: 1136px;
            padding: 381px 40px 40px 40px;
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%,
                    rgba(17, 17, 17, 0.4) 100%),
                url(/img/hero/desc-chocolate-covered-cocoa-powder-1x.jpg);
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-section>.conteiner {
                background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%,
                        rgba(17, 17, 17, 0.4) 100%),
                    url(/img/hero/desc-chocolate-covered-cocoa-powder-2x.jpg);
            }
        }
              
}