/* reviews_section */

.reviews_section {
    display: block;
    background-color: #e2e2e2;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  
    height: 404px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
  }
  .reviews__title {
    text-align: center;
    size: 20px;
    line-height: 1.2;
    color: #fd9222;
    text-transform: uppercase;
    display: block;
    margin-bottom: 74px;
    letter-spacing: -0.03em;
    font-family: 'Montserrat';
    font-weight: 600;
  }
  
  .logo__dark {
    color: rgba(17, 17, 17, 1);
  }
  
  .reviews__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  
  .reviews__items {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    gap: 40px;
  
    background: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
    border-radius: 15px;
  }
  
  .reviews__items:not(:first-child) {
    display: none;
  }
  
  .reviews__svg {
    height: 120px;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    align-items: center;
    margin-bottom: -16px;
    border-radius: 4px;
  
    position: relative;
    width: 200px;
    top: -40px;
    margin-left: auto;
    margin-right: auto;
  }
  .reviews__ava {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
  }
  
  .reviews__title-section {
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
  }
  
  .reviews__paragraf {
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.02em;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
  }
  
  .reviews__pagination {
    margin-top: 20px;
    width: auto;
    color: aqua;
    text-align: center;
  }
  
  .reviews__pag-active {
    display: inline-flex;
    width: 28px;
    height: 13px;
    border-radius: calc(13px / 2);
    background-color: #fd9222;
  }
  
  .reviews__pag-pass {
    display: inline-flex;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: grey;
  }
  
  .review__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px;
    gap: 14px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.2;
    align-items: center;
    margin-top: 32px;
  
    width: 165px;
    height: 41px;
  
    border: 1px solid #fd9222;
    border-radius: 100px;
  
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review__button:hover,
  review__button:focus {
    background-color: #fd9222;
    color: #e2e2e2;
  }
  
  @media screen and (min-width: 375px) {
    .reviews_section {
      width: 335px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .reviews_section {
      width: 704px;
    }
  
    .reviews__list {
      flex-direction: row;
    }
  
    .reviews__items:not(:first-child) {
      display: block;
    }
  
    .reviews__items:nth-child(n + 3) {
      display: none;
    }
  
    .reviews__items {
      width: 344px;
      height: 200px;
    }
  
    .reviews__title {
      size: 24px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .reviews_section {
      width: 1136px;
    }
  
    .reviews__list {
      flex-direction: row;
    }
  
    .reviews__items:nth-child(n + 3) {
      display: block;
    }
  
    .reviews__items:nth-child(n + 4) {
      display: none;
    }
  
    .reviews__items {
      width: 344px;
      height: 200px;
    }
  
    .reviews__title {
      size: 24px;
    }
  }
  