.reviews {
    padding-top: 72px;
    padding-bottom: 72px;
}

.reviews-container {
    text-align: center;
}

.reviews-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 32px;
}

.reviews-title-accent {
    color: var(--accent-color);
    margin-right: 3px;
}

.slider-inner {
    padding-top: 40px;
}

.reviews-wrap {
    position: relative;
    width: 280px;
    height: 180px;
    background: var(--main-bg-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
    border-radius: 15px;
    padding: 56px 18px 42px 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
}

.reviewer-photo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reviewer-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 14px;
}

.review-text {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.review-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    align-items: center;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    color: var(--text-color);
    border-radius: 100px;
    padding: 12px 28px;
    margin-top: 30px;
    transition: background-color 250ms linear, color 250ms linear;
}

.review-btn:hover,
.review-btn:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
}


.modal-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    border: transparent;
    border-radius: 100px;
    padding: 12px 28px;
    transition: background-color 250ms linear, color 250ms linear;
}

.slick-dots {
    margin-top: 0;
    margin-bottom: 0;
}

.slick-dots li button {
    width: 13px;
    height: 13px;
    background-color: rgba(17, 17, 17, 0.1);
    border-radius: 50%;

}

.slick-dots li button::before {
    display: none;
}

.slick-dots li.slick-active button {
    background-color: var(--accent-color);
    width: 28px;
    height: 13px;
    border-radius: 10px;

}

.slick-dots li {
    margin: 0 7px;
    width: auto;
    height: auto;
}

@media screen and (min-width: 375px) {
    .reviews-wrap {
        width: 335px;
        height: 200px;
    }

    .reviewer-name {
        margin-bottom: 24px;
    }

    
}

@media screen and (min-width: 768px) {
    .reviews {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .reviews-title {
        margin-bottom: 50px;
    }

    .reviews-wrap {
        margin-bottom: 25px;
        width: 344px;
    }

    .review-btn {
        margin-top: 48px;
        font-size: 18px;
        line-height: 1.22;

    }
}

@media screen and (min-width: 1200px) {
    .reviews {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    .reviews-wrap {
        margin-bottom: 25px;
        width: 360px;
    }
}