.sellers-tittle-text {
  color: var(--accent-color);
  margin-right: 8px;
}
.sellers-tittle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.sellers-product-item {
  border-radius: 15px;
}
.sellers-product-list {
  display: flex;
  gap: 24px;
  border-radius: 15px;
}
